<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Practice</title>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script><!-- load angular -->
    <script type="text/javascript" src="app.js"></script>

</head>
<body>

    <div ng-controller="MyCtrl">
        Name Header:
        <select ng-model="nameName">
            <option ng-repeat="item in uploadedFile.headers">{{item}}</option>
        </select>Selected Header: {{nameName}}<br>

        Lat Header:
        <select ng-model="latName">
            <option ng-repeat="item in uploadedFile.headers">{{item}}</option>
        </select>Selected Header: {{latName}}<br>

        Long Header:
        <select ng-model="longName">
            <option ng-repeat="item in uploadedFile.headers">{{item}}</option>
        </select>Selected Header: {{longName}}<br>


    </div>


</body>
</html>

